html{
    width: -webkit-fill-available;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #ecf0f1;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    width: -webkit-fill-available;
}

.container{
    width: 100%;
    padding: 0% 2%;
    box-sizing: border-box
}

.container.main-contrainer{
    z-index: 1340;
}

#page{
    position: relative;
    display: flex;
}

#RRC-header-bg{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 390px;
    max-width: calc(100% + 20%);
    background: #2c3e50 url("img/image") no-repeat center/100% auto;
}

#RRC-header{
    position: relative;
    z-index: 2000;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.header-nav{
    padding: 1.5%;
}

.RRC-nav-items{
    display: flex;
    align-items: center;
}

.RRC-nav-items .items--1{
    margin-right: auto;
}

.RRC-nav-items .items--2 .item:nth-last-child(2){
    margin-right: 40px;
}

.RRC-nav-items .items--2{
    position: relative;
    top: 0;
}

.header-nav .item{
    font-size: 18px;
    color: rgb(148, 148, 148);
    font-weight: 600;
    text-decoration: none;
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    position: relative;
}

.header-nav .item:after{
    content: "";
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 3px;
    border-radius: 50px;
}

.header-nav .item{
    margin-right: 50px;
}

.header-nav .item:focus,
.header-nav .item:hover{
    color: white;
}

.header-nav .item.active{
    color: #3498db;
}

.header-nav .item.active:after{
    width: 75%;
    height: 3px;
    background: #3498db;
}

.header-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    width: 50%;
    height: 35%;
    max-width: 90%;
    background: url("img/logo") no-repeat center/100% auto;
}

.header-controls{
    position:absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1% 1% 0% 1%;
}

.header-controls .r-header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    height: 42px;
}

.box.social{
    font-size: 0;
}

.box.social a{
    background: rgba(150, 150, 150, 0.1);
    border-radius: 6px;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    color: white;
}

.box.social a{
    margin-right: 15px
}

.box.social a span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.box.social a .mdi-youtube{
    font-size: 24px
}

.box.social a .mdi-discord{
    top: 1px;
    font-size: 24px
}

.box.social a:focus,
.box.social a:hover{
    color: rgb(44, 62, 80);
    background: white;
}

.menu .back .item{
    display: none;
}

span.mdi-open-in-new {
    transform: translateX(70px) translateY(1px);
}

#RRC-footer{
    margin-top: 10px;
}

#RRC-footer .r-body-inner {
    padding: 50px 20px 40px;
}

.footer-main{
    background: #34495e;
}

.footer-main h3{
    color: white;
}

.footer-main p {
    display: block;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.main-block{
    padding: 0% 5% 15px;
    flex: calc(33.3333% - 10%);
}

.main-block h3{
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 30px;
    position: relative;
}

.main-block h3:after{
    content: "";
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    border-radius: 5px;
    width: 35px;
    height: 3px;
    background: rgba(255, 255, 255, 0.2);
}

.langue{
    display: flex;
    cursor: pointer;
    background: rgba(150, 150, 150, 0.1);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 800;
    margin-bottom: -20px;
    align-items: center;
}
.langue:hover{
    background: white;
    color: rgb(0, 0,255);
}

.english{
    cursor: pointer;
    background: rgb(150,150,150, 0.1);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    float: right;
    text-decoration: none;
    font-weight: 600;
}

.english:hover{
    background: white;
    color: rgb(0,0,225);
}
.histoire{
    cursor: pointer;
    background: rgb(150,150,150, 0.1);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    float: right;
    text-decoration: none;
    font-weight: 600;
}

.histoire:hover{
    background: white;
    color: rgb(0,0,225);
}

.footer-copyright{
    background: #2E4052;
    line-height: 25px;
}

.footer-copyright .r-body-inner{
    padding-top: 40px;
    padding-bottom: 40px;
}

.copyright-text{
    position: relative;
    color: rgb(100,100,100,0.8);
}

.copyright-text b{
    margin-left: 60px;
}

.copyright-text b,
.copyright-text small{
    font-size: 14px;
}

.copyright-text small:before{
    contain: "-";
    margin: 0 5px 0 7px;
    display: inline-block;
}

.copyright-links{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.copyright-links a {
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    color: rgb(255,255,255,0.5);
}
.copyright-links a:focus,
.copyright-links a:hover{
    color: rgb(255,255,255,0.85);
}
.copyright-links a:first-child{
    margin-right: 20px;

}

#full-size{
    width: 100%;
    padding: 0 10%;
    border-radius: 5px;
}

.boite-index{
    background: white;
    border-radius: 5px;
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
}

.update-title{
    font-weight: 600;
    font-size: 20px;
    color: rgb(50,50,50);
    text-align: left;
}

.update-date{
    font-size: 16px;
    font-weight: 200;
    color: rgb(50,50,50,0.5);
    text-align: left;
    padding: 0% 3%;
}

.motif{
    border-top: 1px solid rgb(50,50,50);
    text-align: left;
    font-size: 14px;
    color: rgb(100,100,100);
    padding: 1% 3%;
}