body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b1d8b7;
    color: #09291a;
}

/*=================*/
/*      Header     */
/*=================*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 40px;
}

.logo {
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.container-nav {
    display: flex;
    gap: 40px;
}

.container-nav, a{
    text-decoration: none;
    color: #09291a;
    font-weight: bold;
}

a{
    padding: 10px;
}

.btn-contact{
    color: #ffffff;
    background-color: #385b4f;
    padding: 10px;
    border-radius: 10px;
}

/*=================*/
/*   Présentation  */
/*=================*/

.presentation {
    margin: 100px;
    display: grid;
}

h1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 2.8em;
    margin-bottom: 20px;
}

p{
    grid-column: 1;
    grid-row: 2 ;
    max-width: 700px;
    font-size: 1.5em;
    line-height: 1.6;
}   

img {
    grid-column: 2;
    grid-row: 1/3;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/*=================*/
/*   Nos valeurs   */
/*=================*/

.nos-valeurs {
    background-color: #7cbe8d;
    padding: 40px 20px;
    text-align: center;
}

h2 {
    font-size: 2.6em;
    margin-bottom: 15px;
    font-weight: bold;
}

h3{
    font-weight: bold;
    font-size: 2em;
}

.container-valeur{
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
}

/*=================*/
/*      Autre      */
/*=================*/

.actualité{
    background-color: #b1d8b7;
}


/*=================*/
/*     Footer      */
/*=================*/

footer {
    background-color: #1c442e;
    padding: 30px;
    font-size: 0.9em;
    color: #ffffff;
}
